.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__categories {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 751px) {
  article {
    width: 18rem;
    height: auto;
    justify-content: space-between;
    margin: 0.4em;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
  }
  header {
    font-size: 5vw;
  }
  .form {
    width: 18rem;
    height: auto;
    justify-content: space-between;
    margin: 0.4em;
    /* padding: 5px; */
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
  }

  .form__button {
    color: black;
    border: 2px solid black;
  }
  img {
    height: 7vw;
    width: 7vw;
  }
}

@media screen and (max-width: 750px) {
  article {
    width: 16rem;
    height: auto;
    justify-content: space-between;
    font-size: 2vw;
    margin: 0.5em;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
  }
  header {
    font-size: 5vw;
    /* margin-top: 4vw; */
  }
  img {
    height: 7vw;
    width: 7vw;
  }
  .form {
    width: 16rem;
    height: auto;
    justify-content: space-between;
    margin: 0.4em;
    /* padding: 5px; */
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5vw;
  }

  .form__button {
    color: black;
    border: 2px solid black;
  }
}
