.content {
  /* display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* width: 100%;
  margin-bottom: 7.5vh;
  height: auto;  */
}

.navbar {
  /* margin-top: 0.5vh;
  margin-bottom: 6vh;
  height: 5vh;*/
}

@media screen and (min-width: 750px) {
  /* .button {
    margin: 3px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(2, 57, 139);
    box-shadow: 1px 2.75px 2px 2px #000000;
  }
  .button:hover {
    box-shadow: 0 2px 1px 1px #adb5bd;
    top: 1px;
  }
  .button:active {
    box-shadow: 0 0 #adb5bd;
    top: 5px;
  } */
  ._navigation {
    border-top-left-radius: 10px;
  }
}

@media screen and (max-width: 751px) {
  /* .button {
    margin: 3px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(2, 57, 139);
    box-shadow: 1px 2.75px 2px 2px #000000;
  }
  .button:hover {
    box-shadow: 0 2px 1px 1px #093766;
    top: 1px;
  }
  .button:active {
    box-shadow: 0 0 #adb5bd;
    top: 5px;
  } */

  .navigation {
    /* display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 12.5vh; */
  }
}
