.navigation {
  display: flex;
  flex-direction: row;
  height: 7vh;
  width: 100%;
  margin-bottom: 7.5vh;
}

._navigation {
  border-top-left-radius: 10px;
}

.navbar {
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  height: 5vh;
}

a {
  font-size: 2.75vh;
}

button {
  border: none;
  background: transparent;
  font-weight: bolder;
  color: #000000;
}
button:hover {
  border: none;
  font-weight: bolder;
  color: #4656e6;
}
