@media screen and (min-width: 751px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}
